* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body {
    height: 100%;
}

body {
    min-height: 100vh;
    /* Outros estilos, se necessário */
}

main {
    height: 100%;
}
header{
    background-color: #00ffff;
    height: 70px;
    display: flex; 
    flex-direction: column; 
    justify-content: flex-end;
}

header h1 {
    color: #ffffff;
    font-size: 35px;
    display: flex;
    justify-content: center;
    margin: auto;
}
/*layout da navbar*/
nav{
    background-color: black;
    
}

nav .opcoes {
    color: #ffffff; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
    font-size: 16px; /* Tamanho da fonte */
    /*padding: 5px; /* Espaçamento interno */
    margin-left: 25px;
}

nav a:hover {
    color: #0088cc; /* Cor do texto quando o mouse passa por cima */
}

/*layout das opções do navbar*/
ul {
    display: flex;
}

.pagina {
    height: 100%;
    width: 100%;
}


/*estilização do alinha*/
.conteudo {
    height: 100%;
    width: 100%;
    display: flex;
}

/*estilização do content*/
.content {

    width: 70%;
    height: 50%;
}

/*estilização do sidebar*/
.sidebar {
    background-color: rgb(62, 146, 90);
    height: 20%;
    width: 30%;
}

.sidebar ul {
    display: block;
    list-style: none;
}

ul a:hover {
    text-decoration: none;
    color: #ffffff;
    
}
/*estilização do footer*/
.rodape {
    background-color: blueviolet;
    height: 30px;
}